header#top {
  height: auto;
  display: flex;
  background-color: #7f96e0;
  padding-top: 120px;
}

header#top div:first-child {
  /* background: url(../images/always-grey.png); */
  text-align: center;
  width: 100%;
  height: auto;
}